name: CI

on: [pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: [test, lint, build]
        node: [10, 12]
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node }}
    - uses: actions/cache@v4
      id: node_modules
      with:
        path: node_modules
        key: node_modules
    - run: yarn install
    - run: yarn ${{ matrix.suite }}
